{% extends "layout.html" %}
{% block content %}
    {% if users %}
        {% for user in users %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ user.name }}</a>
                  <small class="text-muted">{{ user.date_posted}}</small>
                </div>
              </div>
            </article>
        {% endfor %}
    {% endif %}
{% endblock content %}